button {
    margin-bottom: -20;
}


.filtro {
    padding: 10px;
    box-shadow: 0px 5px 20px 5px rgba(214, 213, 213, 0.65);
    margin-bottom: 50px;
}

.filtro h3 {
    text-align: left;
    margin-left: 10%;
}

.items {
    text-align: left;
    display: flex;
    width: 90%;
    margin-bottom: 5px;
}

.item:first-child {
    width: 100%;
}

.item input {
    width: 90%;
}

.item button {
    width: 30px;
    height: 30px;
    margin-left: 20%;
    margin-right: 5;
    text-align: -webkit-center;
    margin-top: 5;
}

form {
    padding: 0;
    box-shadow: none;
}

.containerForm {
    padding: 5px;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 45%;
    box-shadow: 0px 5px 20px 5px rgba(170, 169, 169, 0.65);
}

form select {
    flex: 1;
    background: #E1E5F2;
    border-radius: 8px;
    border: 0;
    padding: 12px 24px;
    color: #022B3A;
    width: 90%;
}