.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    pointer-events: none;
  }


  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }

  .modalDialog > div {
    width: 500px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px;
    border-radius: 10px;
    background: #FEF9EF;
  }

  /*close button */
.close .close-container{
    position: relative;
    margin-left: auto;
    margin-top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0;
}

.close .leftright{
height: 4px;
width: 30px;
position: absolute;
background-color: #007D8D;
border-radius: 2px;
transform: rotate(45deg);
transition: all .3s ease-in;
padding: 0;
}

.close .rightleft{
height: 4px;
width: 30px;
position: absolute;
background-color: #007D8D;
border-radius: 2px;
transform: rotate(-45deg);
transition: all .3s ease-in;
padding: 0;
}

.close .close{
margin: 60px 0 0 5px;
position: absolute;
}

.close .close-container:hover .leftright{
transform: rotate(-45deg);
background-color: #007D8D;
}
.close .close-container:hover .rightleft{
transform: rotate(45deg);
background-color: #007D8D;
}

.modalDialog form {
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.modalDialog h2 {
  margin-top: -10px;
}