#page-editarprojeto {
    background-image: url('../../../assets/imgs/homebg.jpg');
    background-position-x: center;
    background-position-y: bottom;
    background-size: 100%;
    margin: -10;
    padding-bottom: 160;
}

.items {
    width: 100%;
    text-align: left;
    display: flex;
}

.item {
    width: 45%;
}

.item:first-child {
    margin-right: 10%;
}